
.add-food-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(#333, 0.7);
    box-sizing: border-box;
    .add-food {
        width: 1000px;
        height: 550px;
        margin: 100px auto;
        border-radius: 5px;
        overflow: hidden;
        background-color: #f1f2f6;
        .banner {
            width: 100%;
            height: 80px;
            text-align: center;
            line-height: 80px;
            font-weight: bold;
            font-size: 25px;
        }
        .body {
            width: 100%;
            height: 390px;

            form {
                width: 100%;
                height: 100%;

                .col-elm {
                    float: left;
                    width: 50%;
                }

                .elm {
                    width: 100%;
                    height: auto;
                    margin: 5px 0;

                    .format-p{
                        padding: 10px;
                    }

                    p {
                        width: 75%;
                        height: 40%;
                        font-size:16px;
                        font-weight: bold;
                        margin: 0 auto;
                        color: rgb(118, 118, 118);
                    }

                    input {
                        width: 70%;
                        height: 40px;
                        display: block;
                        margin: 0 auto;
                        padding: 0 10px;
                        position: relative;
                        border-radius: 5px;
                        border: 1px solid #b6b6b6;
                    }
                    .col {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                        padding: 0 10px;
                        input[type="radio"] {
                            width: 15px;
                            height: 15px;
                            margin:0;
                        }
                        .check-radio {
                            margin-left: 15px;
                            display: flex;
                            width: 45%;
                            justify-content: center;
                            label {
                                margin-left: 10px;
                            }
                        }
                    }
                }

                .elm-textarea {
                     p{
                         height: 20%;
                     }
                    textarea {
                        width: 70%;
                        height: 200px;
                        display: block;
                        margin: 0 auto;
                        padding: 5px 10px;
                        position: relative;
                        border-radius: 5px;
                        border: 1px solid #b6b6b6;
                    }
                }

                .elm-files {
                    height: auto;
                    .img-review {
                        height: 200px;
                        width: 300px;
                        background-color: #fff;
                        border-radius: 10px;
                        margin: 10px auto 10px auto;
                        overflow: hidden;
                    }
                    .upload-file {
                        width: 70%;
                        margin: 0 auto;
                        // position: relative;
                        label {
                            // position: absolute;
                            // top: 0;
                            // left: 50%;
                            margin: 0 auto;
                            //transform: translateX(-50%);
                            width: 150px;
                            height: 30px;
                            line-height: 30px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            background-color: #23b6ff;
                            color: white;
                            border: none;
                            font-weight: bold;
                            font-size: 16px;
                            border-radius: 5px;
                            padding: 0 5px;
                            display: block;
                        }
                        input {
                            // position: absolute;
                            top: 0;
                            left: 50%;
                            display: none;
                            transform: translateX(-50%);
                            width: 150px;
                            height: 30px;
                            padding: 0;
                            opacity: 0;
                        }
                    }
                    .error-image {
                        color: red;
                        height: 20px;
                        transform: translateY(32px);
                        font-size: 15px;
                    }

                }

                .elm-col {
                    display: flex;
                    width: 75%;
                    margin: 0 auto;
                    .col {
                        padding: 0;
                        width: 50%;
                        display: block;
                        p {
                            width: 100%;
                        }
                        input[type='number'] {
                            width: 80%;
                            height: 30px;
                            border-radius: 5px;
                            border: 1px solid #b6b6b6;
                            margin: 0;
                        }
                        
                        select {
                            width: 100%;
                            height: 30px;
                            border-radius: 5px;
                            border: 1px solid #b6b6b6;
                            background: white;
                        }
                    }

                    .btn {
                        width: 150px;
                        height: 35px;
                        cursor: pointer;
                        border: none;
                        margin: 10px;
                        background-color: #23b6ff;
                        font-weight: bold;
                        transition: .25s;
                        color: white;
                        font-family: 17px;
                    }

                    .format-btn-left {
                        margin-left: auto;
                        //margin-right: auto;
                    }

                    .format-btn-right {
                        margin-right: auto;
                    }

                    .clear-fix {
                        float: none;
                    }

                    .btn:hover {
                        background-color: #ff6b81;
                    }
                }
            }
        }
    }
}